<%- include('../partials/header') %>

<section>
   <% posts.forEach(post => { %>
      <div>

         <article class="posts">
            <h1><%= post.title %></h1>
            <h2><%= post.date %> </h2>
            <p><%= post.entry %> </p>
            <a href='/users/<%=user._id%>/posts'><%= user.name %></a>
         <% if (user._id.equals(loggedInUser && loggedInUser._id)) { %>
            <a href='/posts/<%=post._id%>/edit'>Edit</a>
            <form class="delete" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
               <button type="submit">X</button>
            </form>
         <% } %>
         </article>
      </div>
      <div>
         <form class="comment" action="/posts/<%= post._id %>/comments" method="POST">
            <textarea name="entry"></textarea>
            <label>Entry</label>
            <input type="submit" value="Comment">
         </form>
      </div>
      <% post.comments.forEach( comment => { %>
      <div>
         <% if (comment.owner.equals(loggedInUser && loggedInUser._id)) { %>
            <a href='/users/<%=comment.owner._id%>/posts'><%= comment.owner.name %> </a>
            <form class="comment" action="/posts/<%= post._id %>/comments/<%= comment.index %>?_method=PUT" method="POST">
               <textarea name="entry"><%=comment.entry%></textarea>
               <label>Entry</label>
               <input type="submit" value="Update Comment">
            </form>
         <% } else { %>
            <a href='/users/<%=comment.owner._id%>/posts'><%= comment.owner.name %> </a>
            <p><%= comment.entry %></p>
         <% } %>
         <% if (comment.owner.equals(loggedInUser && loggedInUser._id) || post.owner.equals(loggedInUser && loggedInUser._id)) { %>
         <form class="delete" action="/posts/<%= post._id %>/comments/<%= comment.index %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
         </form>
         <% } %>
      </div>
      <% }) %>
    <% }) %>  
   </section>


<%- include('../partials/footer') %>